body {
  background-color: #06021a;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.box {
  width: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  font-size: 35px;
  color: #ffffff;
}
.color{
  background-color: rgb(255, 177, 31);
}
.color:hover{
  background-color: rgb(1, 211, 1);
  transform: scale(1.05,1.05);
  transition: all 0.3s; 
}

